
NAME=Mybot
Name of your application. (opcional)


AVATAR=https://i.imgur.com/bWhx7OT.png
URL with an image for your application (must end in .png or .jpg) (optional)


TYPE=bot
Type of application: bot or site


MAIN=index.js
Name or path to the main file. For example: index.js or src/index.js (required to change)


RAM=100
Amount of RAM in MB


AUTORESTART=false
Automatic restart in case of failures in your application. Put true to activate. Only available in 
Platinum plan
 or higher. (optional)


VERSION=latest
Change the 
version
 used in the container image of your app.


APT=tools
Install 
apt
 packages in the container of your application.
